* {
    margin:0;
    font-family: 'Press Start 2P', sans-serif
}

#battle-scene {
  height: 70vh;
  position: relative;
}

#text-section {
  height: 30vh;
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 0.5%;
  border: solid 5px black
}

.status-box, .player-options {
  border: solid 5px black;
  height: 100%;
}

.status-box {
  width: 60%;
}

.player-options {
  width: 39.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* text section on bottom part of screen */

.status-text {
  padding: 10px;
  font-size: 2rem;
}

.option { 
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.red {
  background-color: rgb(251, 118, 118);
}

.red:hover{
  background-color: rgb(255, 77, 77);
}

.blue {
  background-color: rgb(103, 230, 247);
}

.blue:hover {
  background-color: rgb(41, 219, 242);
}

.green {
  background-color: rgb(138, 254, 138);
}

.green:hover {
  background-color: rgb(77, 254, 77);
}

.yellow {
  background-color: rgb(254, 254, 148);
}

.yellow:hover {
  background-color: rgb(252, 252, 80);
}

/* battle scene */

.stats {
  width: 30%;
  border: solid 5px black;
  position: absolute;
}

.enemy {
  top: 10px;
  left: 10px;
  height: 20%
}

.player {
  right: 10px;
  bottom: 10px;
  height: 25%;
}

.player-sprite, .enemy-sprite {
  height: auto;
  position: absolute
}

.player-sprite {
  width: 30%;
  bottom: -10%;
  left: 20%;
}

.enemy-sprite {
  width: 20%;
  right: 20%;
  top: 10px;
}

.battle-animation {
  height: 10%;
  width: 10%;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 4px black solid
}

/* stats content */

.stats p {
  font-size: 1.5rem;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.health-box {
  width: 90%;
  border: 3px solid black;
  height: 20px;
  margin: 10px;
}

.health {
  width: 100%;
  height: 100%;
  transition: ease 2s;
}