* {
    margin:0;
    font-family: 'Press Start 2P', sans-serif
}

#battle-scene {
  height: 70vh;
  position: relative;
}

#text-section {
  height: 30vh;
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 0.5%;
  border: solid 5px black
}

.status-box, .player-options {
  border: solid 5px black;
  height: 100%;
}

.status-box {
  width: 60%;
}

.player-options {
  width: 39.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* text section on bottom part of screen */

.status-text {
  padding: 10px;
  font-size: 2rem;
}

.option { 
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

/* battle scene */

.stats {
  width: 30%;
  border: solid 5px black;
  position: absolute;
}

.enemy {
  top: 10px;
  left: 10px;
  height: 20%
}

.player {
  right: 10px;
  bottom: 10px;
  height: 25%;
}

.player-sprite, .enemy-sprite {
  height: auto;
  position: absolute
}

.player-sprite {
  width: 30%;
  bottom: -10%;
  left: 20%;
}

.enemy-sprite {
  width: 20%;
  right: 20%;
  top: 10px;
}

.battle-animation {
  height: 30vh;
  width: 50vh;
  position: absolute;
  top: 20vh;
  left: 40%;
  border: 1px black solid
}

/* stats content */

.stats p {
  font-size: 1.5rem;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.health-box {
  width: 90%;
  border: 3px solid black;
  height: 20px;
  margin: 10px;
}

.health {
  height: 100%;
  transition: linear 1.5s;
}

/* colors */
.fire {
  background-color: rgb(251, 118, 118);
}

.fire:hover{
  background-color: rgb(255, 77, 77);
}

.water {
  background-color: rgb(103, 230, 247);
}

.water:hover {
  background-color: rgb(41, 219, 242);
}

.grass {
  background-color: rgb(138, 254, 138);
}

.grass:hover {
  background-color: rgb(77, 254, 77);
}

.electric {
  background-color: rgb(254, 254, 148);
}

.electric:hover {
  background-color: rgb(252, 252, 80);
}

.dark {
  background-color: rgb(49, 53, 80);
  color: white
}

.dark:hover {
  background-color: rgb(20, 22, 33);
}

.flying {
  background-color: rgb(151, 191, 255);
}

.flying:hover {
  background-color: rgb(127, 160, 214)
}

.steel {
  background-color: rgb(160, 160, 160)
}

.steel:hover{
  background-color: rgb(135, 135, 135)
}

.normal {
  background-color: rgb(216, 216, 216)
}

.normal:hover {
  background-color: rgb(181, 181, 181)
}

/* Animation Testing */

.square {
  height: 30px;
  width: 30px;
  background-color: red;
}

.hydro-ball-1, .hydro-ball-2{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position:absolute;
}

.layer1 {
  bottom: 0;
  left: 0;
}

.layer2 {
  bottom: 10vh;
  left: 0;
}