* {
    margin:0
}

body {
    background-color: #D7CEC7;
}

#header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: auto;
    background-color: #76323F;
    padding: 8px;
    color: white;
    font-size: 2rem
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    width: auto;
    background-color: #76323F;
    padding: 8px;
    padding-bottom: 16px;
    color: white;
    font-size: 1.5rem
}

.navlink {
    padding: 10px 10%;
    border-color: black;
    border-style: solid;
    color: white;
}

.selected {
    background-color: #5f2832;
    color: white;
}

#main-body {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

/* Students section */

#students-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-height: 90vh;
    margin: 20px;
    flex-grow: 2;
}

.student {
    width: 60%;
    height: auto;
    background-color: #dbbfa4;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.delete-text{
    display: flex;
    flex-direction: column;
}

.delete-button, .student-text>a{
    background-color: #76323F;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.delete-button:hover, .student-text>a:hover{
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.delete-button:active, .student-text>a:active{
    background-color: #5f2832;
}

.icons {
    max-width: 100px;
    max-height: 100px;
}

/* Single Views */

#single-campus-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-height: 90vh;
    margin: 20px;
    width: 100%
}

.single-campus {
    height: auto;
    background-color: #dbbfa4;
    padding: 30px;
    display: flex;
    gap: 50px;
    width: 50%
}

.campus-text {
    text-align: left;
}

.campus-text a{
    text-decoration: underline;
    color: #76323F;
    font-weight: bold;
}

/* form */ 
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 1;
    margin: 4rem;
    margin-right: 8rem;
    padding: 0px;
  }
  
  input {
    padding: 0.3em;
    margin: 0.5em 0;
    font-size: 1.5em;
  }
  
  form>button {
    color: white;
    background-color: #76323F;
    height: 40px;
    font-size: 1.25rem
  }

  ul button {
    color: white;
    background-color: #76323F;
    height: auto;
    font-size: 1rem
  }
  
  form>button:hover, ul button:hover {
    background-color: #5f2832;
  }
  
  form>button:disabled, ul button:disabled {
    background-color: #ccc;
  }
  
  #campus-form {
    text-align: center;
    font-size: 1.25rem
  }

  select {
    font-size: 1.25rem;
    padding: 0.3em;
    margin: 0.5em 0;
  }


  #not-found {
    font-size: 2rem;
    padding: 1rem;
  }

  .sorts {
    padding: 1rem;
    font-size: 1.5rem;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .sorts button {
    color: white;
    background-color: #76323F;
    height: auto;
    font-size: 1rem;
    padding: 8px;
  }

  .sorts button:hover {
    background-color: #5f2832;
  }

  .pagination {
    display: flex;
    gap: 30px;
    color: white;
    list-style: none;
  }

  .pagination li {
    color: white;
    background-color: #5f2832;
    height: 30px;
    width: 30px;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pagination li a {
    color: white;
    text-decoration: none;
    text-align: center;
  }